.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.leftSpan button{
    margin-left: 5px;
    font-size: 0.8em; 
}

.webinar{
    font-size: x-large;
}

.webinar:hover{
    cursor: pointer;
    color: darksalmon;
}

.container > *{
    color: white;
}
